.panel-entry {
  cursor: pointer;
}

.panel-entry-title {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  margin-left: 6px;
}

.selected {
  background-color: var(--color-selection);
}
