.panel-entry {
  cursor: pointer;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.panel-entry-title {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  margin-left: 6px;
  flex-grow: 1;
}

.selected {
  background-color: var(--color-selection);
}
