.story {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

app-panels {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

app-active-chapter {
  position: fixed;
  bottom: 5rem;
  left: 1rem;
}


app-chapters {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
