@if (storyDto; as theStory) {
  <div class="story">
    <app-panels>
      <app-panel panelTitle="Organizations">
        @for (organization of storyDto.architecture.organizations; track organization) {
          <app-panel-entry
            [selected]="isOrganizationBeingEdited(organization)"
            [entryTitle]="organization.name"
            (click)="editOrganization(organization)"
          ></app-panel-entry>
        }
        @if (editor == Editor.Organization) {
          <app-panel-side>
            <app-organization-editor
              [formControl]="organizationFormControl"
              (onSave)="saveOrganization()"
              (onCancel)="resetEditor()"
            ></app-organization-editor>
          </app-panel-side>
        } @else if (editor == Editor.None) {
          <app-panel-action actionTitle="+" (click)="addOrganization()"></app-panel-action>
        }
      </app-panel>

      <app-panel panelTitle="Ledgers">
        @for (ledger of storyDto.architecture.ledgers; track ledger) {
          <app-panel-entry
            [selected]="isLedgerBeeingEdited(ledger)"
            [entryTitle]="ledger.name"
            (click)="editLedger(ledger)"
          ></app-panel-entry>
        }
        @if (editor == Editor.Ledger) {
          <app-panel-side>
            <app-ledger-editor
              [organizations]="storyDto.architecture.organizations"
              (onSave)="saveLedger()"
              (onCancel)="resetEditor()"
              [formControl]="ledgerFormControl"
            ></app-ledger-editor>
          </app-panel-side>
        } @else if (editor == Editor.None) {
          <app-panel-action actionTitle="+" (click)="addLedger()">
          </app-panel-action>
        }
      </app-panel>

      <app-panel panelTitle="Assets">
        @for (asset of storyDto.architecture.assets; track asset) {
          <app-panel-entry
            [entryTitle]="asset.name"
            [selected]="isAssetBeeingEdited(asset)"
            (click)="editAsset(asset)"
          >
          </app-panel-entry>
        }
        @if (editor == Editor.Asset) {
          <app-panel-side>
            <app-asset-editor
              (onSave)="saveAsset()"
              (onCancel)="resetEditor()"
              [formControl]="assetFormControl"
            ></app-asset-editor>
          </app-panel-side>
        } @else if (editor == Editor.None) {
          <app-panel-action actionTitle="+" (click)="addAsset()">
          </app-panel-action>
        }
      </app-panel>


      <app-panel panelTitle="Links">
        @for (link of storyDto.architecture.links; track link) {
          <app-panel-entry [entryTitle]="link.from">
          </app-panel-entry>
        }
      </app-panel>


    </app-panels>

    <app-chapters
      [storyline]="storyDto.storyline"
      [state]="state"
      (onChapterChange)="onChapterChange($event)"
    ></app-chapters>
  </div>
} @else {
  Loading ...
}
