@if (storyDto; as theStory) {
  <div class="story">
    <app-panels>
      <app-panel panelTitle="Organizations">
        @for (organization of storyDto.architecture.organizations; track organization) {
          <app-panel-entry
            [selected]="isOrganizationBeingEdited(organization)"
            [entryTitle]="organization.name"
            (select)="editOrganization(organization)"
          ></app-panel-entry>
        }
        @if (editor == Editor.Organization) {
          <app-panel-side>
            <app-organization-editor
              [formControl]="organizationFormControl"
              [deletable]="isEditedComponentDeletable()"
              (onSave)="saveOrganization()"
              (onCancel)="resetEditor()"
              (onDelete)="deleteOrganization()"
            ></app-organization-editor>
          </app-panel-side>
        } @else if (editor == Editor.None) {
          <app-panel-action actionTitle="+" (click)="addOrganization()"></app-panel-action>
        }
      </app-panel>

      <app-panel panelTitle="Ledgers">
        @for (ledger of storyDto.architecture.ledgers; track ledger) {
          <app-panel-entry
            [selected]="isLedgerBeeingEdited(ledger)"
            [entryTitle]="ledger.name"
            (select)="editLedger(ledger)"
          >
            <app-panel-action
              *ngIf="!isLedgerOnStage(ledger)"
              actionTitle="🡺"
              (click)="addLedgerToStage(ledger)"
            ></app-panel-action>
            <app-panel-action
              *ngIf="isLedgerOnStage(ledger)"
              actionTitle="✖"
              (click)="removeLedgerAppearance(ledger)"
            ></app-panel-action>
            <app-panel-action
              *ngIf="isLedgerOnStage(ledger)"
              actionTitle="🡸"
              (click)="withoutLedgerOnStage(ledger)"
            ></app-panel-action>
          </app-panel-entry>
        }
        @if (editor == Editor.Ledger) {
          <app-panel-side>
            <app-ledger-editor
              [organizations]="storyDto.architecture.organizations"
              [deletable]="isEditedComponentDeletable()"
              (onSave)="saveLedger()"
              (onCancel)="resetEditor()"
              (onDelete)="deleteLedger()"
              [formControl]="ledgerFormControl"
            ></app-ledger-editor>
          </app-panel-side>
        } @else if (editor == Editor.None) {
          <app-panel-action actionTitle="+" (click)="addLedger()">
          </app-panel-action>
        }
      </app-panel>

      <app-panel panelTitle="Assets">
        @for (asset of storyDto.architecture.assets; track asset) {
          <app-panel-entry
            [entryTitle]="asset.name"
            [selected]="isAssetBeeingEdited(asset)"
            (select)="editAsset(asset)"
          >
          </app-panel-entry>
        }
        @if (editor == Editor.Asset) {
          <app-panel-side>
            <app-asset-editor
              [deletable]="isEditedComponentDeletable()"
              (onSave)="saveAsset()"
              (onCancel)="resetEditor()"
              (onDelete)="deleteAsset()"
              [formControl]="assetFormControl"
            ></app-asset-editor>
          </app-panel-side>
        } @else if (editor == Editor.None) {
          <app-panel-action actionTitle="+" (click)="addAsset()">
          </app-panel-action>
        }
      </app-panel>


      <app-panel panelTitle="Links">
        @for (link of storyDto.architecture.links; track link) {
          <app-panel-entry
            [entryTitle]="getLinkTitle(link)">
            <app-panel-action
              *ngIf="isLinkOnStage(link)"
              actionTitle="✖"
              (click)="removeLinkAppearance(link)"
            ></app-panel-action>
            <app-panel-action
              *ngIf="isLinkOnStage(link)"
              actionTitle="🡸"
              (click)="withoutLinkOnStage(link)"
            ></app-panel-action>

          </app-panel-entry>
        }
      </app-panel>
    </app-panels>

    @if (story) {
      <app-storyline
        [storyline]="storyDto.storyline"
        [story]="story"
        [state]="state"
        (onChapterChange)="onChapterChange($event)"
        (onChapterNameChange)="onChapterNameChange($event)"
        (onChangeMove)="onChangeMove($event)"
      ></app-storyline>
    }


  </div>
} @else {
  Loading ...
}
