.story {
  display: flex;
  position: fixed;
}

app-panels {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

app-storyline {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

app-panel-side {
  display: block;
  width: 250px;
  margin-top: 30px;
}
