<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LedgerComponents</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="/kotlin-kotlin-stdlib.js"></script>
  <script src="/kotlin_org_jetbrains_kotlin_kotlin_dom_api_compat.js"></script>
  <script src="/kotlinx-serialization-kotlinx-serialization-core.js"></script>
  <script src="/kotlinx-serialization-kotlinx-serialization-json.js"></script>
  <script src="/uuid.js"></script>
  <script src="/ledgers-core.js"></script>
</head>
<body>
<story-element id="story"></story-element>
</body>
</html>
