<app-editable
  [label]="label()"
  [value]="name()"
  (onChange)="onNameChange($event)"
></app-editable>
<app-panels>
  <app-panel panelTitle="Changes">
    @for (change of changes(); track change) {
      <app-panel-entry
        [entryTitle]="getChangeLabel(change)"
      >
        <app-panel-action *ngIf="number() > 0" actionTitle="←" (click)="moveChangeToPreviousChapter(change)" title="Move to previous chapter"></app-panel-action>
        <app-panel-action actionTitle="→" (click)="moveChangeToNextChapter(change)" title="Move to next chapter"></app-panel-action>
        <app-panel-action actionTitle="✖" (click)="removeFromStage(change)"></app-panel-action>
      </app-panel-entry>
    }
  </app-panel>
</app-panels>
