#components {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 100;
    display: flex;
    gap: 6px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    font-size: small;
}

#components-list {
    display: flex;
    flex-direction: column;
}

#components-list organization {
    display: block;
    cursor: pointer;
}

#components-list ledger {
    display: block;
    cursor: pointer;
}

#components-list asset {
    display: block;
    cursor: pointer;
}

#chapters {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 100;
    display: flex;
    gap: 6px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    font-size: small;
}

#chapters-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#chapter-scenario-steps {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#chapter-scenario-step-line {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#chapter-scenario-steps step {
    display: block;
    cursor: pointer;
    background: var(--color-bg-1);
    height: 3rem;
    width: 2rem;
    text-align: center;
    color: var(--color-tx-1);
    padding-top: 0.2rem;
}

#chapters-line {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#chapters-list chapter {
    display: block;
    cursor: pointer;
    background: var(--color-bg-1);
    height: 3rem;
    width: 2rem;
    text-align: center;
    color: var(--color-tx-1);
    padding-top: 0.2rem;
}

#chapter-changes {
    display: flex;
    flex-direction: column;
}

#editors {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    display: flex;
    gap: 6px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: small;
}

#editors div {
    display: none;
    gap: 6px;
    flex-direction: column;
}

